<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Meet the animals!</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="~/Libs/OwlSlider/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Libs/OwlSlider/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Libs/OwlSlider/magnific-popup.css">
    <script type="text/javascript" src="~/Libs/OwlSlider/jquery.min.js"></script>
    <script src="~/Libs/OwlSlider/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 4,
                lazyLoad: true,
                autoPlay: true,
                navigation: true,
                navigationText: ["", ""],
                rewindNav: false,
                scrollPerPage: false,
                pagination: false,
                paginationNumbers: false,
            });
        });
    </script>
    

    <script type="text/javascript" src="~/Libs/OwlSlider/nivo-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
        });
    </script>



    <!-- //Owl Carousel Assets -->
    <!-----768px-menu----->
    <link type="text/css" rel="stylesheet" href="~/Libs/OwlSlider/jquery.mmenu.all.css" />
    <script type="text/javascript" src="~/Libs/OwlSlider/jquery.mmenu.js"></script>
    <script type="text/javascript">
        //	The menu on the left
        $(function () {
            $('nav#menu-left').mmenu();
        });
    </script>
</head>
<body >
    <div class="Recent-wroks" >
        <!-- start services -->
        <div class="wrap">
            <div class="Recent-wrok">
                <h5 class="heading">Recent wrok</h5>
                <!----start-img-cursual---->
                <div id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/11.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/1.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Lorem ipsum dolor amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/22.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/2.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/33.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/3.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled  pleasure of the moment,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/44.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/4.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Lorem ipsum dolor amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/11.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/1.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/22.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/2.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled  pleasure of the moment,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/44.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/4.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/33.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/3.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled  pleasure of the moment,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/11.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/1.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Lorem ipsum dolor amet,consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/44.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/4.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/33.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/3.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                On the other hand, we denounce with righteous indignation and dislike men who are so beguiled  pleasure of the moment,
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="cau_left">
                            <div id="nivo-lightbox-demo"> <p> <a href="~/Libs/OwlSlider/Images/22.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover"> </span></a> </p></div>
                            <img src="~/Libs/OwlSlider/Images/2.jpg">
                        </div>
                        <div class="cau_left">
                            <h4><a href="#">Lorem ipsum</a></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                            </p>
                        </div>
                    </div>
                </div>
                <!----//End-img-cursual---->
            </div>
        </div>
    </div>
</body>
</html>
