@{
    ViewBag.Title = "Meet the Animals!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We offer all the animals!!</p>

<div>
    @Html.Partial("~/Views/Shared/SliderView.cshtml");
</div>