@{
    ViewBag.Title = "Meet the Animals!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We offer all the animals!!</p>


<table>
    <tr>
        <td>
            <div id="carousel" class="flexslider">
                <ul class="slides" id="carouselList">
                    <li>
                        <img src="~/Content/Images/Slideshow/1.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Slideshow/2.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Slideshow/3.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Slideshow/4.jpg" />
                    </li>
                    <li>
                        <img src="~/Content/Images/Slideshow/5.jpg" />
                    </li>
                    <!-- items mirrored twice, total of 12 -->
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="galleryLayout">
                <div id="slider" class="flexslider">
                    <ul class="slides" id="mainimage">
                        <li>
                            <img src="~/Content/Images/Slideshow/1.jpg" />
                        </li>
                        <li>
                            <img src="~/Content/Images/Slideshow/2.jpg" />
                        </li>
                        <li>
                            <img src="~/Content/Images/Slideshow/3.jpg" />
                        </li>
                        <li>
                            <img src="~/Content/Images/Slideshow/4.jpg" />
                        </li>
                        <li>
                            <img src="~/Content/Images/Slideshow/5.jpg" />
                        </li>
                        <!-- items mirrored twice, total of 12 -->
                    </ul>
                </div>
            </div>

        </td>
    </tr>
</table>





<script type="text/javascript">
    $(window).load(function () {
        // The slider being synced must be initialized first
        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemHeight: 200,
            itemMargin: 5,
            asNavFor: '#slider'
        });

        $('#slider').flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });


        ficContentLayout();
    });


    function ficContentLayout() {




    }

</script>